# Python
*.py[cod]
*.pyc
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Migrations
*/migrations/*

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Static files
staticfiles/
static/
/.env
/.venv
/env
/DTRPAYROLL/__pycache__
/DTRPAYROLL/api/__pycache__
/DTRPAYROLL/config/__pycache__
/DTRPAYROLL/employeeDTR/__pycache__
/DTRPAYROLL/employeeDTR/migrations/